<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QuakeTables</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>KMLMapGenerator</display-name>
    <servlet-name>KMLMapGenerator</servlet-name>
    <servlet-class>edu.usc.sirlab.kml.KMLMapGenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KMLMapGenerator</servlet-name>
    <url-pattern>/kml</url-pattern>
  </servlet-mapping>
  <mime-mapping>
  	<extension>rsc</extension>
  	<mime-type>text/plain</mime-type>
  </mime-mapping>
</web-app>